body {
  margin: 0;
  height:100%;
  /* background-color:#abd8e9 ; */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.cover-container {
  max-width: 40em;
  height: 100%;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  

}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
/* for bg of navbar */
.bg-indigo {
  background-color: #00C5A7 ;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
}
/*  for titles */
.title{
  font-family: 'Odibee Sans', cursive; 
}
 /* for links */
li.nav-item a:link , div.my-2 a{
  color: white;
  text-decoration: none;
}

li.nav-item a:hover , div.my-2 a:hover{
  color: white;
  text-decoration: none;
  
}

.profile{
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin-left: 30%;
  margin-top: -30%;
  border: 1px solid #abd8e9;
  z-index: 4;
}
.cover{
  z-index: 1;
}
.btn-prim {
  background-image: linear-gradient(to right, #AAFFA9 0%, #11FFBD 51%, #AAFFA9 100%);
}

.btn-prim:hover {
  background-position: right center;
}

.badge-prim {
  background-color:#00C5A7 ;
}
.media img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.form-signin {
  width: 450px;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media screen and (max-width : 500px){
  .cover-container {
    max-width: 20em;
    height: 100%;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  }
  .form-signin {
    width: 300px;
  }
  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .01rem solid #fff;
    margin-top: 8px;
  }

}
